
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@layer base {
  .font-pretendard {
    font-family: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
  }
}

:root {
  --background: #FFFFFF;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #0a0a0a;
  }
}
html {
  font-family: Pretendard, sans-serif;
   overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
}
.slick-slider,
.slick-list,
.slick-track {
  height: 100% !important;
}

.slick-slide > div {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
.btn {
  @apply  text-black px-4 py-2 rounded-md text-sm font-medium   cursor-pointer bg-white border border-gray-300;
}

.btn:hover {
  @apply bg-blue-500;
}

.btn:focus {
  @apply  bg-blue-600 text-white ;
}


.btn:disabled {
  @apply bg-gray-300 text-gray-400 cursor-not-allowed;
}